@using Zine.App.Domain.ComicBook
@using Zine.App.Domain.Group
@using Zine.App.Enums

@inject IJSRuntime JSRuntime

<MudMenu @ref="_menuRef" Id="@($"Menu-{ComicBook.Id}")" ActivationEvent="MouseEvent.RightClick" PositionAtCursor Disabled="ContextMenuDisabled">
	<ActivatorContent>
		<MudItem>
			<div class="md:max-w-60 max-w-44 hover:cursor-pointer">
				<MudImage Src="@GetCoverImage()" Elevation="25" Class="rounded-lg" />
				@if (_renaming)
				{
					<MudFocusTrap DefaultFocus="DefaultFocus.FirstChild">
						<MudTextField
							@bind-Value="@_newComicBookName"
							class="h-full"
							Label="Comic book name..."
							Variant="Variant.Outlined"
							@onkeyup="HandleRenameKeypress"
						/>
					</MudFocusTrap>
				}
				else
				{
					<p class="pt-2 font-lg text-center line-clamp-3">@ComicBook.Name</p>
				}
			</div>
		</MudItem>
	</ActivatorContent>

	<ChildContent>
		<MudMenuItem Icon="@Icons.Material.Outlined.DriveFileRenameOutline" OnClick="RenameComicBook">Rename</MudMenuItem>
		<MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" Dense>
			<ActivatorContent>
				<MudMenuItem Icon="@Icons.Material.Filled.Folder">
					Add To Group
					<MudIcon Icon="@Icons.Material.Filled.ChevronRight" />
				</MudMenuItem>
			</ActivatorContent>
			<ChildContent>
				@foreach (var group in Groups)
				{
					<MudMenuItem OnClick="() => AddToGroup(group.Id)">@group.Name</MudMenuItem>
				}
			</ChildContent>
		</MudMenu>
		<MudMenuItem Icon="@Icons.Material.Filled.FolderDelete" OnClick="RemoveFromGroup" Disabled="ComicBook.GroupId == null">Remove from group</MudMenuItem>
	</ChildContent>
</MudMenu>


@code {

	[Inject]
	private ISnackbar Snackbar { get; set; } = null!;

	[Parameter]
	public bool ContextMenuDisabled { get; set; } = false;

	[Parameter]
	public required ComicBook ComicBook { get; set; }

	[Parameter]
    public required IEnumerable<Group> Groups { get; set; }

	[Parameter]
	public EventCallback UpdatedComicBook { get; set; }

	[Parameter]
	public IGroupService GroupService { get; set; } = null!;

	[Parameter]
	public IComicBookService ComicBookService { get; set; } = null!;

	[Parameter]
	public EventCallback<bool> EditStateChanged { get; set; }

	private MudMenu _menuRef = null!;
	private DotNetObjectReference<ComicBookCard> _currentComponentRef = null!;

	private bool _renaming = false;
	private string _newComicBookName = "";

	private void RenameComicBook()
	{
		_renaming = true;
		_newComicBookName = ComicBook.Name;
		EditStateChanged.InvokeAsync(true);

	}

	private void ConfirmRename()
	{
		_renaming = false;
		ComicBookService.Rename(ComicBook.Id, _newComicBookName);
		EditStateChanged.InvokeAsync(false);

	}

	private void AddToGroup(int? groupId)
	{
		var isAddedToGroup = ComicBookService!.AddToGroup(groupId, ComicBook.Id);
		if (isAddedToGroup)
		{
			UpdatedComicBook.InvokeAsync(groupId);
			_menuRef.CloseMenuAsync();
		} else
			Snackbar.Add("Error adding comic to group", Severity.Error);

	}

	private void RemoveFromGroup()
	{
		if (ComicBook.GroupId == null) return;

		var comicBookParentGroup = GroupService.GetById(ComicBook.GroupId.Value);
		if (comicBookParentGroup != null)
		{
			AddToGroup(comicBookParentGroup.ParentGroupId);
		}
	}






	private string GetCoverImage()
	{
		return Path.Join(DataPath.ComicBookCoverDirectory, ComicBook.Information.CoverImage).Replace("wwwroot", "");
	}

	private void HandleRenameKeypress(KeyboardEventArgs eventArgs)
	{
		if (eventArgs.Key.Equals("Enter"))
			ConfirmRename();
	}

	[JSInvokable]
	public void HandleClickOutside()
	{
		_menuRef.CloseMenuAsync();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			_currentComponentRef = DotNetObjectReference.Create(this);
			await JSRuntime.InvokeAsync<IJSObjectReference>("registerClickOutsideHandler", $"Menu-{ComicBook.Id}", _currentComponentRef);
		}
	}

	public void Dispose()
	{
		_currentComponentRef.Dispose();
	}

}
