@inherits LayoutComponentBase
@using Zine.App
@using Zine.App.Helpers
@using Page = Zine.App.Enums.Page

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider  />
<MudSnackbarProvider />
<MudPopoverProvider />

<PageTitle>Zine</PageTitle>

<MudLayout>
    <MudAppBar>
        <h1 class="font-bold text-2xl flex items-center gap-3">
            Zine
            <span> - </span>
            @PageManager.PageTitle
        </h1>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Elevation="1" Variant="@DrawerVariant.Mini" ClipMode="DrawerClipMode.Always" OpenMiniOnHover="true">
        <MudNavMenu>
            <MudNavLink Href="@Page.Home" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <MudNavLink Href="@_mainLibraryGroupLink" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Book">Library</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <div class="p-10">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;
    readonly string _mainLibraryGroupLink = PageManager.GetLibraryGroupLink(AppConstants.MainGroupId);
}
